<nav class="navbar bg-primary" data-bs-theme="dark">
  <div class="badge bg-primary text-wrap" style="width: 6rem;">
    {{title}}
  </div>
</nav>

<div class="container">
  <div class="list-users-button">
    <button type="button" class="btn btn-primary" (click)="listUsers()">Listar usuarios</button>
    <button type="button" class="btn btn-secondary close-users" *ngIf="showUsers" (click)="hideUsers()">Cerrar</button>
  </div>
</div>
<div class="container table-container" *ngIf="showUsers">
  <div class="table-list" >
    <table class="table">
      <thead>
        <tr>
          <th scope="col">avatar</th>
          <th scope="col">user</th>
          <th scope="col">github profile</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users.items">
          <td> 
            <div class="container-sm">
              <img src="{{user.avatar_url}}" class="img-thumbnail rounded avatar" alt="avatar">
            </div>
          </td>
          <td> {{user.login}} </td>
          <td> 
            <a href="{{user.html_url}}">{{user.html_url}}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>